extends layout

block content

    table#data-table
        thead
            tr
                td
                td
                td
                td
                td
                td
                td
                td
                td


    script(type="text/javascript").
        $(document).ready(function() {

            $('#data-table').dataTable({
                                                       "processing": false,
                                                       "serverSide": false,
                                                       "ajax": "http://localhost:3000/dashboard/emails",
                                                       "aoColumns":[{ "mData": 'EmailId'},
                                                       { "mData": 'ModuleId'},
                                                       { "mData": 'ReferenceTransId'},
                                                       { "mData": 'ReferenceTransType'},
                                                       { "mData": 'Priority'},
                                                       { "mData": 'Frome'},
                                                       { "mData": 'Toe'},
                                                       { "mData": 'Subject'},
                                                       { "mData": 'Body'}

                                                   ]
                                                   } );


        } );