html
    head
        title= title
        link(rel='stylesheet',href='/stylesheets/bootstrap/bootstrap.min.css')
        script(src="//code.jquery.com/jquery-1.11.1.min.js" , type="text/javascript")
        script(src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js" , type="text/javascript")
        script(src="//cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.js" , type="text/javascript")
    body
        div.container
            div.page-header
                h1 Dashboard
            block content

        div.footer
