extends layout

block content
  div.page-header
    h1 Node Test
  div.page-content#page_content
    form(action="/login",method="post")
      div.row
            div.col-sm-3
              input.form-control#username(type="text",name="username")
      div.row
            div.col-sm-3
              input.form-control#password(type="password",name="password")

      div.row
            div.col-sm-3
              button(class="btn btn-sm btn-primary",type="submit") Login


