doctype html
html
  head
    title= title
    link(rel='stylesheet',href='/stylesheets/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    section.container#container
      block content


    footer.footer#footer
      p copyright 2015

