extends layout

block content

    script(src="http://localhost:3001/socket.io/socket.io.js",type="text/javascript")
    script(type="text/javascript").
        $(document).ready(function(){
        var socket=io.connect("http://localhost:3001");
                $("form").submit(function(){
                socket.emit("send",$("#message").val());
                $("#message").val("");
                return false;
                });

                socket.on("on_new_connect",function(data){
                    alert("a new use is connected in this chat");
                });

                socket.on("broadcast_message",function(message){
                    var li=document.createElement("li");
                    $(li).html(message);
                    $("#chat_list").append(li);
                });
        });



    h1= title

    #container.col
        p= content


        ul(id="chat_list")

        #chat_container.chat_container
            form(method="POST")
                h4 message
                input(name="message",id="message")

                button(type="submit") send
